body {
  color: white;
  background-color: rgb(6, 11, 24);
}

h1 {
  font-size: 3rem;
}

.App {
  margin: 0; 
  text-align: center;
}

/* nav */

.nav-logo {
  width: 4%;
  text-align: left;
  position: absolute;
}

.nav {
  background-color: rgb(11, 18, 37);
  text-align: right;
  padding: 2%;
  position: fixed;
  width: 100%;
  display: block;
  z-index: 100;
}

.nav a {
  padding: 8px 20px;
  background-color: #1176FF;
  color: black;
  text-decoration: none;
  width: 5px 20px;
  margin-right: 85px;
  border-radius: 20px;
  font-size: 14px;
}

/* body */

.body {
  padding: 5% 7%;
  background-color: rgb(6, 11, 24);
  color: rgb(230, 230, 230);
  max-width: 800px;
  width: 100%;
  display: block;
  margin: auto;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

h1 {
  font-size: 60px;
}

.chatbot-logo {
  width: 50px;
}

.home-link {
  padding: 2% 4%;
  background-color: #1176FF;
  color: black;
  border-radius: 20px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.container {
  width: 100%;
  margin: 100px auto;
  animation: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.object {
  width: 35%;
  display: inline-table;
  text-align: left;
  padding: 2% 3%;
  margin: 2% 2%;
  border-radius: 15px;
  border: 2px solid #1176FF;
  height: 260px;
}

.footer {
  color: rgb(225, 225, 225);
}

