input {
    padding: 12px;
    width: 20%;
    border-radius: 20px;
    margin: 1%;
    border: none;
    display: inline;
    width: 100%;
  }
  
  button {
    padding: 1% 4%;
    border-radius: 50px;
    margin-top: 10px;
    color: black;
    background-color: #1176FF; 
    border: none;
  }
  
  .row {
    margin-bottom: 7%;
  }
  
  .home {
    text-align: center;
  }
  
  form a{
    color: #1176FF;
  }
  
  body {
    background-color: black;
  }

  form {
    display: block;
    margin: auto;
    max-width: 400px;
    padding: 30px;
  }